body {
  margin: 0;
  overflow-x: hidden;
}

.dashboard .appbar {
  background-color: green;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .appbar-item {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* Estilo adicional para diferenciar el elemento activo o para efectos de hover */
.dashboard .appbar-item:hover {
  background-color: darkgreen;
}