/* Estilos para los botones de temas */
.main-content button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #004d40;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .main-content button:hover {
    background-color: #00332a;
  }
  
  .main-content button i {
    margin-left: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  